$theme-colors: (
  dark: (
    fg: #eee,
    bg: #111,
  ),
  red: (
    fg: #db594c,
    bg: #cc241d,
  ),
  green: (
    fg: #b8bb26,
    bg: #98971a,
  ),
  yellow: (
    fg: #fabd2f,
    bg: #d79921,
  ),
  blue: (
    fg: #c1d3ee #8fabbc,
    bg: #2c3237 #293d3a #2b363c,
  ),
  purple: (
    fg: #d3869b,
    bg: #b16286,
  ),
  aqua: (
    fg: #8ec07c,
    bg: #689d6a,
  ),
  orange: (
    fg: #feb019,
    bg: #d65d0e,
  ),
);
