p {
  margin-bottom: 1em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1em;
}

address {
  margin: 0 0 1em;
}

pre {
  @include font-size(small);
  line-height: 1.4;
  margin-bottom: 1em;
  max-width: 100%;
  overflow: auto;
  padding: 1em;
}

abbr, acronym {
  cursor: help;
}

mark, ins {
  text-decoration: none;
}

big {
  font-size: 125%;
}

#{$headings} {
  margin: 0;
  padding: 1em 0;
  clear: both;
}
