@include set-component( layout(content) ) {
    display: flex;
    flex-flow: column wrap;
    width: inherit;
    max-width: 100%;
    @include margin(0 auto 3 auto);
    
    padding: 0 1em;
    #{get-attr(title, class, page, content, section)} {
        // @include padding(section, l r);
    } 
    #{get-attr(content, class, page, content, section)} {
        @include line-height(section);
        @include font-size(section);
        // @include padding(section, l r);
        max-width: 100%;
    }
}
