@include set-component( layout(header) ) {
    @include padding(3, t b);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    #{get-attr(title, class, page, header)} {
        flex-basis: 100%;
        text-align: center;
        @include font-size(header-title);
    }
}
