@include prop( primary ) {
  color: col($fg);
  background-color: col($bg);
}

@include prop( sidebar ) {
  color: col($fg);
  &.open {
    background-color: darken(col($bg), 2%);
  }
  #{get-attr(burger, class)} {
    > div {
      background-color: col($fg);
    }  
  }
}

